.body
{
  width: 1250px;
  margin: 0 auto;
}
.rectangle
{
    align-self:center;
  background-color: #DFD6D3;
  width: 550px;
  height: 45px;
  border-radius: 7px;
  color: rgb(125, 125, 125);
  font-size: large;
  
}
h1 {
    margin-top: 10px;
    margin-bottom: 0px;
    color: #663A2A;
    font-size: 30px;
    padding-left: 0px;
    padding-right:400px;
    font-family: Arial;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom:20px;
}

.Logo-image {
    width: 60px;
    height: 60px;
    background-image: url(/images/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}
.main
{
  
  height:780px;
  
  
  border-radius: 10px;
  background: rgba(195, 147, 103, 0.6);
  overflow: scroll;

}

.block
{
  border-radius: 7px;
  width: 1150px;
  height: 220px;
  background-color: white;
  margin: 50px;
  font-size: large;
  overflow: scroll;
  line-height: 1.5;
}
.block2
{
  border-radius: 7px;
  width: 1150px;
  height: 220px;
  background-color: white;
  margin: 50px;
  font-size: large;
  overflow: scroll;
  line-height: 1.5;
}
.block3
{
  border-radius: 7px;
  width: 1150px;
  height: 220px;
  background-color: white;
  margin: 50px;
  font-size: large;
  overflow: scroll;
  line-height: 1.5;
}
.contentinblock
{
 
  
  float: left;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.buttoninblock
{
  float: right;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  
}
.button1
{
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.4);
  width: 160px;
  height: 45px;
  margin: 10px;
  color: white;
}
.button2
{
  border-radius: 7px;
  background: rgba(224, 78, 57, 1);
  width: 160px;
  height: 45px;
  margin: 10px;
  color: white;
}
.button3
{
  border-radius: 7px;
  background: rgba(102, 58, 42, 1);
  width: 160px;
  height: 45px;
  margin: 10px;
  color: white;
}
.button4
{
  border-radius: 7px;
  background: rgba(195, 147, 103, 1);

  width: 160px;
  height: 45px;
  margin: 10px;
  color: white;
}
.button5
{
  border-radius: 7px;
  background: rgba(102, 58, 42, 1);

  width: 160px;
  height: 45px;
  margin: 10px;
  color: white;
}
.button6
{
  border-radius: 7px;
  background: rgba(102, 58, 42, 1);

  width: 160px;
  height: 45px;
  margin: 10px;
  color: white;
}
.button7
{
  border-radius: 7px;
  background: rgba(224, 78, 57, 0.8);

  width: 160px;
  height: 45px;
  margin: 10px;
  color: white;
  float: right;
}
