.body
{
  width: 1250px;
  margin: 0 auto;
}

.HeadName
{
  display: inline-block;
  margin: 2px;
  color: rgba(102, 58, 42, 1);
  
}
.rectangle
{
  background-color: #DFD6D3;
  width: 550px;
  height: 45px;
  margin-top: 31px;
  display: inline-block;
  float: right;
  border-radius: 7px;
  color: rgb(125, 125, 125);
  font-size: large;
  
}

.main
{
  
  height: 600px;
  
  
  border-radius: 10px;
  background: rgba(195, 147, 103, 0.6);
  overflow: scroll;

}
.logo
{
  display: inline-block;
  margin: 10px 0 40px 25px;
  width: 120px;
  height: 70px;
}
.img2
{
  vertical-align: bottom;
  border: 0;
  max-width: 100%;
}
.block
{
  border-radius: 7px;
  width: 1150px;
  height: 220px;
  background-color: white;
  margin: 50px;
  font-size: large;
  overflow: scroll;
  line-height: 1.5;
}
.block2
{
  border-radius: 7px;
  width: 1150px;
  height: 220px;
  background-color: white;
  margin: 50px;
  font-size: large;
  overflow: scroll;
  line-height: 1.5;
}
.block3
{
  border-radius: 7px;
  width: 1150px;
  height: 220px;
  background-color: white;
  margin: 50px;
  font-size: large;
  overflow: scroll;
  line-height: 1.5;
}
.contentinblock
{
 
  
  float: left;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.buttoninblock
{
  float: right;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  
}
.button1
{
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.4);
  width: 160px;
  height: 45px;
  margin: 10px;
  color: white;
}
.button2
{
  border-radius: 7px;
  background: rgba(224, 78, 57, 1);
  width: 160px;
  height: 45px;
  margin: 10px;
  color: white;
}
.button3
{
  border-radius: 7px;
  background: rgba(102, 58, 42, 1);
  width: 160px;
  height: 45px;
  margin: 10px;
  color: white;
}
.button4
{
  border-radius: 7px;
  background: rgba(195, 147, 103, 1);

  width: 160px;
  height: 45px;
  margin: 10px;
  color: white;
}
.button5
{
  border-radius: 7px;
  background: rgba(102, 58, 42, 1);

  width: 160px;
  height: 45px;
  margin: 10px;
  color: white;
}
.button6
{
  border-radius: 7px;
  background: rgba(102, 58, 42, 1);

  width: 160px;
  height: 45px;
  margin: 10px;
  color: white;
}
.button7
{
  border-radius: 7px;
  background: rgba(224, 78, 57, 0.8);

  width: 160px;
  height: 45px;
  margin: 10px;
  color: white;
  float: right;
}
