@page
@model AddPolizModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление пользователя</title>
    <link rel="stylesheet" href="/css/AddPoliz.css">
</head>
<body>
    <header>
        <nav>
            <div class="header">
                <div class="Logo-image"></div>
                <h1>Добавление пользователя</h1>
            </div>
            <div class="frame-container">
                <div class="NameText">ФИО</div>
                <input class="text-field__input" type="text">
                <div class="Login">Логин</div>
                <input class="text-field__input" type="text">
                <div class="Password">Пароль</div>
                <input class="text-field__input" type="text">
                <div class="Email">Почта</div>
                <input class="text-field__input" type="text">
                <div class="ResponsibleEquipment">Ответственное оборудование</div>
                <input class="text-field__input" type="text">
                <div class="buttonsadd">
                    <button class="buttonBack"><span>Назад</span></button>
                    <button class="buttonAdd"><span>Добавить</span></button>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>