@page
@model AddTypeEquipmentModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/AddTypeEquipment.css">
</head>
<body>
    <div class="header">
        <div class="Logo-image"></div>
        <h1>Добавление типа обрудования</h1>
    </div>
    <div class="frame-container">
        <div class="NameText">Наименование</div>
        <input class="text-field__input" type="text">
        <div class="DescriptionText">Описание</div>
        <input class="text-field__input" type="text">
        <div class="CharText">Характеристики</div>
        <input class="text-field__input" type="text">
        <div class="buttonsadd">
           <a class="a1" asp-page="/TypeEquipment"> <button class="buttonBack"><span>Назад</span></button></a>
           <a class="a1" asp-page="/typeEquipment"> <button class="buttonAdd"><span>Добавить</span></button></a>
        </div>
    </div>
</body>
</html>