@page
@model ChangePolizModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменение оборудования</title>
    <link rel="stylesheet" href="/css/ChangePoliz.css">
</head>
<body>
    <header>
        <nav>
            <div class="header">
                <div class="Logo-image"></div>
                <div class="PersonalAccount"><h3>Изменение пользователя</h3></div>
            </div>
            <div class="frame-container">
                <div class="NameText">ФИО</div>
                <input class="text-field__input" type="text">
                <div class="Login">Логин</div>
                <input class="text-field__input" type="text">
                <div class="Password">Пароль</div>
                <input class="text-field__input" type="text">
                <div class="Email">Почта</div>
                <input class="text-field__input" type="text">
                <div class="ResponsibleEquipment">Ответственное оборудование</div>
                <input class="text-field__input" type="text">
                <div class="buttonsadd">
                    <a class="a1" asp-page="/PersonalАccount"> <button class="buttonBack"><span>Назад</span></button> </a>
                    <a class="a1" asp-page="/PersonalАccount"> <button class="buttonAdd"><span>Изменить</span></button> </a>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>