@page
@model ChangePasswordModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Смена пароля</title>
    <link rel="stylesheet" href="/css/ChangePassword.css">
</head>
<body>
    <div class="header">
        <div class="Logo-image"></div>
        <div class="ChangePassword"><h3>Смена пароля</h3></div>
    </div>
    <div class="frame-container">
        <div class="OldPassword">Старый пароль</div>
        <input class="text-field__input" type="text">
        <div class="NewPassword">Новый пароль</div>
        <input class="text-field__input" type="text">
        <div class="NewnewPassword">Введите новый пароль ещё раз</div>
        <input class="text-field__input" type="text">
        <div class="buttonsadd">
            <a class="a1" asp-page="/PersonalАccount">  <button class="buttonBack"><span>Назад</span></button> </a>
            <a class="a1" asp-page="/PersonalАccount">  <button class="buttonAdd"><span>Изменить</span></button> </a>
        </div>
    </div>
</body>
</html>