@page
@model EditEquipmentModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/EditEquipment.css">
</head>
<body>
    <div class="header">
        <div class="Logo-image"></div>
        <div class="AddEqipmentText"><h3>Изменение обрудования</h3></div>
    </div>
    <div class="frame-container">
        <div class="NameText">Название обрудования</div>
        <input class="text-field__input" type="text">
        <div class="NumText">Инвентарный номер</div>
        <input class="text-field__input" type="text">
        <div class="AudienceText">Аудитория</div>
        <input class="text-field__input" type="text">
        <div class="UserText">Материально ответственное лицо</div>
        <div class="custom-select">
            <select>
                <option value="0"></option>
                <option value="1">Иванов Иван Иванович</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <div class="PriceText">Стоимость</div>
        <input class="text-field__input" type="text">
        <div class="TypeText">Тип обрудования</div>
        <div class="custom-select">
            <select>
                <option value="0"></option>
                <option value="1">ТИп1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <div class="ModelText">Модель</div>
        <input class="text-field__input" type="text">
        <div class="buttonsadd">
            <a class="a1" asp-page="/equipment"> <button class="buttonBack"><span>Назад</span></button></a>
            <a class="a1" asp-page="/equipment"><button class="buttonEdit"><span>Изменить</span></button></a>
        </div>
    </div>
</body>
</html>