@page
@model EquipmentModel
@{
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDocuments</title>
    <link rel="stylesheet" href="/css/equipment.css">
</head>
<body class="body">
    <header>
        <div class="header">
            <div class="Logo-image"></div>
            <h1>Оборудование</h1>
            <input class="rectangle" placeholder="Найти" type="search">
        </div>
    </header>
    <div class="main">
        <div class="block">
            <div class="contentinblock">
                <strong>Название оборудование:</strong> Игровой монитор MSI MPG
                <br>
                <strong>Инвентарный номер:</strong> 1378980
                <br>
                <strong>Аудитория:</strong> 502
                <br>
                <strong>Материально ответственное лицо:</strong> Иванов Иван Иванович
                <br>
                <strong>Стоимость:</strong> 10000
                <br>
                <strong>Тип оборудования:</strong> монитор
                <br>
                <strong>Модель:</strong> ARTYMIS 343CQR 34

            </div>
            <div class="buttoninblock">
                <a class="a1" asp-page="/EditEquipment"> <button class="button1">Изменить</button></a><br>
                <button class="button2">Удалить</button><br>
               <a class="a1" asp-page="/PageQR"> <button class="button3">Печать</button></a>
            </div>
        </div>
        <div class="block2">
            <div class="contentinblock">
                <strong>Название оборудование:</strong> Игровой монитор MSI MPG
                <br>
                <strong>Инвентарный номер:</strong> 1378980
                <br>
                <strong>Аудитория:</strong> 502
                <br>
                <strong>Материально ответственное лицо:</strong> Иванов Иван Иванович
                <br>
                <strong>Стоимость:</strong> 10000
                <br>
                <strong>Тип оборудования:</strong> монитор
                <br>
                <strong>Модель:</strong> ARTYMIS 343CQR 34

            </div>
            <div class="buttoninblock">
                <a class="a1" asp-page="/EditEquipment"> <button class="button1">Изменить</button></a><br>
                <button class="button2">Удалить</button><br>
                <button class="button3">Печать</button>
            </div>
        </div>
        <div class="block3">
            <div class="contentinblock">
                <strong>Название оборудование:</strong> Игровой монитор MSI MPG
                <br>
                <strong>Инвентарный номер:</strong> 1378980
                <br>
                <strong>Аудитория:</strong> 502
                <br>
                <strong>Материально ответственное лицо:</strong> Иванов Иван Иванович
                <br>
                <strong>Стоимость:</strong> 10000
                <br>
                <strong>Тип оборудования:</strong> монитор
                <br>
                <strong>Модель:</strong> ARTYMIS 343CQR 34

            </div>
            <div class="buttoninblock">
                <a class="a1" asp-page="/EditEquipment"> <button class="button1">Изменить</button></a><br>
                <button class="button2">Удалить</button><br>
                <button class="button3">Печать</button>
            </div>
        </div>
    </div>

    <div class="footer">
         <a class="a1" asp-page="/MainPage"><button class="button4">Назад</button></a>
        <button class="button5">Импорт</button>
        <button class="button6">Экспорт</button>
         <a class="a1" asp-page="/AddEquipment"><button class="button7">Добавить</button></a>

    </div>
</body>
</html>