@page
@model PageQRModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR</title>
    <link rel="stylesheet" href="/css/PageQR.css">
</head>
<body class="body">
    <div class="header">
        <div class="Logo-image"></div>
        <div class="AddEqipmentText"><h3>QR и штрих коды</h3></div>
    </div>
    <div class="main">
        <div class="block">
            <div class="contentblock">
                <div class="imgblock">
                    <div class="qrimg"></div>
                    <div class="codeimg"></div>
                </div>
                <div class="textblock">
                    <p>Название оборудования: Принтер H45Z</p>
                    <p>Инвентарный номер: 23123423</p>
                    <p>Аудитория: 1502</p>
                    <p>Материально ответственное лицо: Иванов Иван Иванович</p>
                    <p>Стоимость: 450000</p>
                    <p>Тип оборудования: монитор</p>
                    <p>Модель: монитор</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <a class="a1" asp-page="/Equipment"> <button class="button4">Назад</button> </a>

        <a class="a1" asp-page="/Equipment"> <button class="button7">Печать</button> </a>

    </div>
</body>
</html>