@page
@model PolizModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDocuments</title>
    <link rel="stylesheet" href="/css/Poliz.css">


</head>
<header>
    <div class="sidebar">
        <div class="lz">
            <a class="logo">
                <img class="img2" src="/images/logo.svg"/>
            </a>
            <h1 class="HeadName">Пользователи</h1>
            <input class="rectangle" placeholder="Найти" type="search">
        </div>
    </div>
</header>

<body class="body">
    <div class="main">
        <div class="block">
            <div class="contentinblock">
                <strong>ФИО:</strong> Принтер H45Z
                <br>
                <strong>Логин:</strong> Летающий
                <br>
                <strong>Пароль:</strong> 10000МА заряд
                <br>
                <strong>Ответственное оборудование:</strong> 
            </div>
            <div class="buttoninblock">
                <a class="a1" asp-page="/EditTypeEquipment"><button class="button3">Изменить</button></a><br>
                <button class="button2">Удалить</button>
            </div>
        </div>
        <div class="block2">
            <div class="contentinblock">
                <strong>Название:</strong> Принтер H45Z
                <br>
                <strong>Описание:</strong> Летающий
                <br>
                <strong>Характеристика:</strong> 10000МА заряд

            </div>
            <div class="buttoninblock">
                <a class="a1" asp-page="/EditTypeEquipment"><button class="button3">Изменить</button></a><br>
                <button class="button2">Удалить</button>

            </div>
        </div>
        <div class="block3">
            <div class="contentinblock">
                <strong>Название:</strong> Принтер H45Z
                <br>
                <strong>Описание:</strong> Летающий
                <br>
                <strong>Характеристика:</strong> 10000МА заряд
            </div>
            <div class="buttoninblock">
                <a class="a1" asp-page="/EditTypeEquipment"><button class="button3">Изменить</button></a><br>
                <button class="button2">Удалить</button>
            </div>

        </div>
    </div>
    <div class="footer">
        <a class="a1" asp-page="/MainPage"> <button class="button4">Назад</button> </a>

        <a class="a1" asp-page="/AddTypeEquipment"> <button class="button7">Добавить</button> </a>

    </div>
</body>
</html>


